body{        
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #dbe2ef;
}
.container{
  width: 80%;
  margin: 0 auto; /* Center the DIV horizontally */
}
.navbar-brand{
  float:left;
  margin-left: 20px;
}
.fixed-header, .fixed-footer{
  width: 100%;
  position: fixed;        
  background: #3f72af;
  padding: 20px 0;
  color: #f9f7f7;
  font-family: 'monospace';
  text-align: center;
}
.fixed-header{
  top: 0;
  text-align: center;
  font-size: 40px;
}
.fixed-footer{
  bottom: 0;
}    
/* Some more styles to beutify this example */
nav a{
  color: #f9f7f7;
  text-decoration: none;
  padding: 7px 25px;
  display: inline-block;
}
.container p{
  line-height: 200px; /* Create scrollbar to test positioning */
}
.form-group{
  color:#3f72af;
}
.btn-outline-info{
  color: #3f72af;
  border-color: #3f72af;
  margin: auto;
}
button{
  color: #dbe2ef;
  background-color: #3f72af;
  margin: auto;
} 
table{
  color:#3f72af;
  border-color: #3f72af;
}
  /*.site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: black;
    background-color: white;

  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  
  li a:hover {
    background-color:white;
    color: black;
    cursor:pointer;
  }*/