{% extends "layout.html" %}

{% block content %}
<head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'home.css') }}">
</head>
<br><br>
<div id="container" class="n"style="background-color:rgba(180, 180, 180,0.7);padding-bottom:30px;"><p style="color:#333;padding-left:60px ;text-align:left;font-size: 30px;"><b>{{name}} {{surname}}</b></p><span><button class="button button2"style="text-align: center;margin-left:60px;background-color: rgb(56, 154, 245);border: none;padding: 15px 32px;border-radius:15px;"><a href="/" style="color: white;text-decoration: none;" >Logout</a></button></span></div>
<div class="dep" style="background-color: rgba(255,0,0,0.3); border-radius: 25px;margin-left:20px;margin-right:20px; margin-top: 20px;width: 97%;padding-top: 15px;padding-bottom:10px;font-family: 'monospace';text-align:center">
<p style="color:white; font-size:30px; "><b>Department:{{department}}</b></p></div>


<br>
<br><br>

<div class="dropdown">
    <button class="dropbtn" style="padding-left:50px;padding-right:50px">OOPM</button>
    <div class="dropdown-content">
           <a href="/upload">SY A</a>
            <a href="/upload">SY B</a>
    </div>
</div>
<br><br>
<div class="dropdown">
    <button class="dropbtn" style="padding-left:60px;padding-right:65px">DS</button>
    <div class="dropdown-content">
           <a href="/upload">SY A</a>
            <a href="/upload">SY B</a>

    </div>
</div>
<br>

{% endblock %}