{% extends "layout.html" %}

{% block content %}
<h1 style="text-align: center; color:red;">KJSCE Attendance</h1>
<br><br>
<p style="color:blue; text-align:left; font-size:30px; "><b><u>Department:</u>{{department}}</b></p>
<h3 style="color:green; text-align:right;">{{name}} {{surname}}</h3>
<a href="/" style="float:right;">Logout</a>
<br>
<br><br>

<div id="container" class="dropdown" style="float:center;">
<ul>
    <li>My Courses
        <ul>
            <li>OBJECT ORIENTED PROGRAMMING METHODOLOGY
            <ul>
                <li><a href="/upload">F.Y.B.Tech Class C</a></li>
            </ul>
            </li>
        </ul>
    </li>
</ul>
</div>

<br>
<br>

{% endblock %}